@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tomatometer.css";
@import "pokemon.css";
@import "views.css";

/* This file is for your main application CSS */
