<section class="gym">
  <h1>Pokemon battle!💥</h1>
  <h2>Choose your Pokemon</h2>
  <div class="pokemon-list">
    <PokemonComponent.pokemon_card :for={pokemon <- @pokemons} pokemon={pokemon} />
  </div>
  
<!-- COUNTDOWN -->
  <div :if={@countdown && @countdown > 0} class="countdown text-2xl font-bold text-center mt-6">
    ⚔️ Battle starts in {@countdown}...
  </div>
  
<!-- BATTLE AREA -->
  <h2 :if={@p1_pokemon && @p2_pokemon}>Battle battling</h2>
  <div
    :if={@p1_pokemon && @p2_pokemon}
    class="pokemon-battle"
    name={if @result == :draw, do: "draw_battle"}
    id="battle-area"
    phx-hook="PokemonBattle"
  >
    <PokemonComponent.pokemon_card
      pokemon={@p1_pokemon}
      player={if @player == :p1, do: "You", else: "Player 1"}
      id="p1-pokemon"
    />

    <PokemonComponent.pokemon_card
      pokemon={@p2_pokemon}
      player={if @player == :p2, do: "You", else: "Player 2"}
      id="p2-pokemon"
    />
  </div>

  <button :if={@p1_pokemon && @p2_pokemon} phx-click="start_battle" class="battle-button">
    Battle
  </button>
  
<!-- RESET -->
  <button :if={@result} phx-click="reset_game" class="battle-button mt-4">
    Reset Game
  </button>
</section>
