<section class="gym">
  <h1>Pokemon battle!💥</h1>

  <h2>Choose your Pokemon</h2>
  <div class="pokemon-list">
    <PokemonComponents.pokemon_card :for={pokemon <- @pokemons} pokemon={pokemon} />
  </div>

  <h2>Battle area</h2>
  <div class="pokemon-battle" id="battle-area"></div>

  <h2>Battle results:</h2>
  <div class="pokemon-battle"></div>
</section>
